@page "/resume"

<div class="container">
    <!-- Education -->
    <div class="@row">
        <div class="@label">
            <b>education</b>
        </div>
        <div class="@content">
            <a href="https://western.edu/">WSCU</a><br />
            <i>Bachelor of Computer Science</i><br />
            Emphasis in Computer Science<br />
            GPA 3.91<br />
            Summa Cum Laude
        </div>
        <div class="@date">
            <i>July 2016</i>
        </div>
    </div>

    <!-- Work Experience - Tyler Technologies -->
    <div class="@row">
        <div class="@label">
            <b>work experience</b>
        </div>
        <div class="@content">
            <a href="https://www.tylertech.com/">Tyler Technologies</a><br />
            <i>Software Engineer</i><br />
            <ul class="@ul">
                <li>Full stack .NET C# development</li>
                <li>DevOps / Web Maintenance</li>
                <li>Develop critical payment systems</li>
                <li>ORM maintenance and upgrade</li>
                <li>UI redesigns</li>
                <li>Maintatin and develop multiple product stacks</li>
            </ul>
        </div>
        <div class="@date">
            <i>August 2018 - Present</i>
        </div>
    </div>

    <!-- Work Experience - Lockheed Martin-->
    <div class="@row">
        <div class="@label"></div>
        <div class="@content">
            <a href="https://www.lockheedmartin.com/en-us/index.html">Lockheed Martin</a><br />
            <i>Software Engineer II</i><br />
            <ul class="@ul">
                <li>Redesign UI using Angular on project</li>
                <li>Work on mission critical systems with Top Secret clearance</li>
            </ul>
        </div>
        <div class="@date">
            <i>December 2015 - March 2018</i>
        </div>
    </div>

    <!-- Work Experience - Lockheed Martin-->
    <div class="@row">
        <div class="@label"></div>
        <div class="@content">
            <a href="https://www.lockheedmartin.com/en-us/index.html">Lockheed Martin</a><br />
            <i>Software Engineer Internship</i>
            <ul class="@ul">
                <li>Developed an internal employee hire tracking site</li>
                <li>Systems administrator for secure network</li>
                <li>Developed custom scripts to automate system administration tasks</li>
            </ul>
        </div>
        <div class="@date">
            <i>May 2015 - December 2015</i>
        </div>
    </div>

    <!-- Certifications -->
    <div class="@row">
        <div class="@label">
            <b>certifications</b>
        </div>
        <div class="@content">
            <a href="https://www.comptia.org/certifications/security">CompTIA Security +</a>
        </div>
        <div class="@date">
            <i>January 2018</i>
        </div>
    </div>


    <!-- Teaching -->
    <div class="@row">
        <div class="@label">
            <b>teaching</b>
        </div>
        <div class="@content">
            <a href="https://western.edu/">WSCU</a><br />
            <i>Computer Science Tutor</i><br />
        </div>
        <div class="@date">
            <i>December 2015 - December 2016</i>
        </div>
    </div>

    <!-- Proficient -->
    <div class="@row">
        <div class="@label">
            <b>proficient</b>
        </div>
        <div class="@content">
            <b>languages</b>
            <p>
                C#, Typescript, Javascript, TSQL
            </p>
            <b>frameworks</b>
            <p>
                ASP.NET MVC, Blazor, Angular 11, .NET Core, .NET Framework, .NET Standard
            </p>
            <b>cloud</b>
            <p>
                Azure, AWS
            </p>
            <b>database / orm</b>
            <p>
                SQL Server, MySql, Entity Framework, Dapper, LINQ to SQL
            </p>
            <b>ide</b>
            <p>
                Visual Studio 2019, Visual Studio Code, Rider 2021.2, Eclipse
            </p>
            <b>automation / cli</b>
            <p>
                Powershell Core, Dotnet CLI, IIS Administration, Active Directory, NUnit, Selenium
            </p>
            <b>stylesheet</b>
            <p>
                LESS, SASS, CSS
            </p>
            <b>package management</b>
            <p>
                Chocolatey, Apt-Get, NPM
            </p>
            <b>dev ops</b>
            <p>
                Dotnet Publish, TeamCity, Octopus Deploy
            </p>
            <b>version control</b>
            <p>
                Git, GitHub, GitLab, POSH-Git, Bitbucket
            </p>
            <b>api</b>
            <p>
                ASP.NET Web API, OAuth 2.0
            </p>
            <b>authentication</b>
            <p>
                Microsoft Identity Platform
            </p>
            <b>networking</b>
            <p>
                SSH, Powershell Remoting, Firewall Configuration, VLAN Configuration, Network Security
            </p>
            <b>productivity</b>
            <p>
                VIM
            </p>
        </div>
        <div class="@date"></div>
    </div>

    <!-- Familiar -->
    <div class="@row">
        <div class="@label">
            <b>familiar</b>
        </div>
        <div class="@content">
            <p>Haskell, Python, LISP, Java, PHP</p>
        </div>
        <div class="@date"></div>
    </div>
</div>

@code {
    private string label = "col-xl-2 col-lg-2 col-md-3 col-sm-3 col-12";
    private string content = "col-xl-7 col-lg-7 col-md-6 col-sm-6 col-12";
    private string date = "col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12";
    private string row = "row mb-4";
    private string ul = "ul-dashes ul-padding-gentle";
}

