@page "/Contact"

<!-- Email -->
<div class="@row">
    <div class="@label">
        <b>Email</b>
    </div>
    <div class="@content">
        <a href="mailto:kellen@kellenstuart.com">kellen@kellenstuart.com</a>
    </div>
</div>

<!-- LinkedIn -->
<div class="@row">
    <div class="@label">
        <b>LinkedIn</b>
    </div>
    <div class="@content">
        <a href="https://www.linkedin.com/in/kellenstuart/">Kellen's LinkedIn</a>
    </div>
</div>

<!-- GitHub -->
<div class="@row">
    <div class="@label">
        <b>GitHub</b>
    </div>
    <div class="@content">
        <a href="https://github.com/Kellen-Stuart">Kellen's GitHub</a>
    </div>
</div>

<!-- Instagram -->
<div class="@row">
    <div class="@label">
        <b>Instagram</b>
    </div>
    <div class="@content">
        <a href="https://www.instagram.com/kellenmstuart">Kellen's Instagram</a>
    </div>
</div>

@code {
    private string label = "col-2";
    private string content = "col-10";
    private string row = "row mb-4";
    private string ul = "ul-dashes ul-padding-gentle";
}
